body {
    background-color: white;
    font-family:Arial;
    background-color: #f8f0e3;
}

header {
    background-color: blue;
}

h1 {
    text-align:center;
    font-size:50px;
}

h2 {
    text-align:center;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
}

.link {
    text-decoration: none;
    display: block;
    color: black;
    text-align: center; 
    padding: 15px;
    float: left;   
}

.link:hover {
    background-color: #ffe680;
    color: black;
}

.navbar {
    border: 4px solid black;
    border-radius: 15px;
    padding: 5px;
    display: flex;
    background-color: #fff0b3;
}
