body {
    background-color: white;
    font-family:Arial;
    background-color: #f8f0e3;
}

header {
    background-color: blue;
}

h1 {
    text-align:center;
    font-size:50px;
}

h2 {
    text-align:center;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
}

.link {
    text-decoration: none;
    display: block;
    color: black;
    text-align: center; 
    padding: 15px;
    float: left;   
}

.link:hover {
    background-color: #ffe680;
    color: black;
}

.navbar {
    border: 4px solid black;
    border-radius: 15px;
    padding: 5px;
    display: flex;
    background-color: #fff0b3;
}

.contenitore {
    display: flex;
    justify-content: center; 
    gap: 20px; 
}

.testo-centro {
    text-align: center; 
}

.img {
    width: 350px; 
    height: 350px; 
}

.abbassa-immagine {
    margin-top: 5px; 
}

.quadrato {
    position: absolute;
    top: 65px;  
    left: 200px; 
    width: 400px;
    height: 330px;
    background-color: #083484;
}

.sinistra {
    text-align: left;
    padding: 10px;
    color:white;
    font-family: Georgia;
}